@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gentium+Book+Basic&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: 'Gentium Book Basic', serif;
    background-color: #3F4E4F;
    font-weight: 300;
}


/* Headings and paragraphs */

h1 {
    color: #C3070F;
    font-family: 'Alfa Slab One', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 320%;
    line-height: 45px;
    
}

h2 {
    font-family: 'Alfa Slab One', serif;
    margin-bottom: 15px;
}

.center-text {
    margin: auto;
    width: 40vw;
}

/* Navigation */

header {
    height: 110px;
    background-color: #2C3639;
}

#logo {
    height: 8vh;
    padding: 15px 0 15px 45px;
    float: left;
}

#navigation {
    float: right;
    padding: 15px 45px 0 15px;
    color: #DCD7C9;
}

#navigation li {
    font-family: 'Alfa Slab One', serif;
    list-style-type: none;
    display: inline;
    line-height: 75px;
    margin-right: 20px;
    top: 50%;
}

#navigation a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

#navigation a:hover {
    text-decoration: underline;
    color: #C3070F;
    text-decoration: none;
}

/* Hero image composition */


#hero-image {
    background-image: url(../images/background_high.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#lancaster-section-div {
    background-image: url(../images/plane_isolated.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200vh;
    background-attachment: fixed;
    background-size: contain;
}


#title-position {
    position: relative;
    top: 23%;
    left: 10%;
}

#title-position p {
    color: #DCD7C9;
    font-size: 150%;
}

#the {
    font-size: 60%;
    line-height: 30px;
}

#introduction {
    color: #DCD7C9;
    font-size: 150%;
    position: relative;
    top: 70%;
    left: 10%;
    width: 28%;
    line-height: 120%;
}

/* Background Text Section */

#background-text-section {
    padding: 15vh 20vw;
    height: 30vh;
    position: relative;
}

.center-text h2, .center-text p {
    color: #DCD7C9;
    text-align: center;
}

/* Ingenuity Section */

#ingenuity-section {
    height: 60vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #2C3639;
}

#fixed-section-div {
    background-image: url(../images/wallis2.jpg);
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
}

#fixed-section-div div {
    width: 40vw;
    float: right;
    margin: 10% 10% 0 0; 
    height: 60vh;
    position: relative;
}

/* The Dangers section */

#dangers-section {
    padding: 15vh 20vw;
    height: 30vh;
    position: relative;
}



/* Media Queries */

@media screen and (max-width: 1200px) {

    /* Hero Image section */

    #hero-image {
        background-image: url(../images/small_screen_bg.jpg);
        background-size: contain;
        height: 120vh;

    }

    #lancaster-section-div {
        background: none;
    }

    #title-position {
        top: 3%;
        left: 5%;
    }

    #introduction {
        color: #DCD7C9;
        font-size: 110%;
        position: relative;
        top: 20%;
        left: 5%;
        width: 28%;
        line-height: 110%;
    }

    /* Intro text section */

    #background-text-section {
        padding: 5% 10%;
        height: ;
        position: relative;
    }

    .center-text {
        margin: auto;
        width: 60vw;
    }

}


@media screen and (max-width: 815px) {

    #introduction {
        top: 15%;
        width: 80%;
    }

}