@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gentium+Book+Basic&display=swap');

* {
        margin: 0;
        border: none;
        padding: 0;
    }


    body {
        font-family: 'Gentium Book Basic', serif;
        background-color: #3F4E4F;
        font-weight: 300;
        font-size: 105%;
    }

    section {
        height: 100vh; 
        scroll-snap-align: start;
    }


/* Headings and paragraphs */

    h1 {
        color: #C3070F;
        font-family: 'Alfa Slab One', serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 320%;
        line-height: 45px;
        
    }

    h3 {
        font-family: 'Alfa Slab One', serif;
        margin-bottom: 15px;
        letter-spacing: 1px;
        font-size: 130%;
    }

    .center-text {
        margin: auto;
        width: 40vw;
    }

/* Navigation */

    .active {
    font-size: 130%;
    border-bottom: #C3070F solid 2px;
    }


    header {
        height: 110px;
        background-color: #2C3639;
    }

    #logo {
        height: 8vh;
        padding: 15px 0 15px 45px;
        float: left;
    }

    #navigation {
        float: right;
        padding: 15px 45px 0 15px;
        color: #DCD7C9;
    }

    #navigation li {
        font-family: 'Alfa Slab One', serif;
        list-style-type: none;
        display: inline;
        line-height: 75px;
        margin-right: 20px;
        top: 50%;
    }

    #navigation a {
        text-decoration: none;
        color: inherit;
        letter-spacing: 2px;
    }

    #navigation a:hover {
        text-decoration: underline;
        color: #C3070F;
        text-decoration: none;
    }

/* Hero image composition */


    #hero-image {
        background-image: url(../images/background_high.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200vh;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    #lancaster-section-div {
        background-image: url(../images/plane_isolated.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 200vh;
        background-attachment: fixed;
        background-size: contain;
        
    }


    #title-position {
        position: relative;
        top: 23%;
        left: 10%;
    }

    #title-position p {
        color: #DCD7C9;
        font-size: 150%;
    }

    #the {
        font-size: 60%;
        line-height: 30px;
    }

    #introduction {
        color: #DCD7C9;
        font-size: 150%;
        position: relative;
        top: 70%;
        left: 10%;
        width: 28%;
        line-height: 120%;
    }

/* Background Text Section */

    #background-text-section {
        padding: 15vh 20vw;
        height: 30vh;
    }

    .center-text h3, .center-text p {
        color: #DCD7C9;
        text-align: center;
    }

/* Ingenuity Section */

    #ingenuity-section {
        height: 80vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        color: #2C3639;
    }

    #ingenuity-section-div {
        background-image: url(../images/wallis2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        background-attachment: fixed;
    }

    #ingenuity-section-div div {
        width: 40vw;
        float: right;
        margin: 10% 10% 0 0; 
        height: 80vh;
        position: relative;
    }

/* The Dangers section */

    #dangers-section {
        padding: 15vh 20vw;
        height: 30vh;
    }

/* The Planning Section */

    #planning-section {
        height: 100vh;
        width: 100%;
        position: relative;
        color: #DCD7C9;
        overflow: hidden;
    }

    #planning-section-div {
        background-image: url(../images/plan.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
    }

    #planning-section-text {
        bottom: 2%;
        left: 5%;
        width:45%;
        position: absolute;
        overflow: hidden;
    }

/* The Mission Section */

    #mission-section {
        height: 110vh;
        width: 100%;
        color: #DCD7C9;
    }

    #mission-section-div {
        width: 30%;
       /* height: 50vh; */
        margin: 11% 18%;
        position: relative;
    }

    #control-room {
        width: 100%
    }

    #mission-section-text {
        background-color: #2C3639;
        padding: 15px;
        position: absolute;
        width: 300px;
        margin: 3% 0% 0% 75%;
    }

    #mission2-section-div {
        width: 50%;
        height: 50vh;
        margin: -10% 40%;
        position: relative;
    }

    #dropping-upkeep {
        width: 600px;
    }

    #mission2-section-text {
        background-color: #2C3639;
        padding: 15px;
        position: absolute;
        width: 50%;
        margin: 17% -26%;
     /*   padding: 15px;*/

    }

/* The Aftermath Section */

    #aftermath-section {
        height: 100vh;
        width: 100vw;
        position: relative;
        color: #2C3639
    }

    #aftermath-section-div {
        background-image: url(../images/destroyed.jpg);
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
    }

    #aftermath-section-text {
        bottom: 50%;
        left: 20%;
        width:40%;
        position: absolute;
        overflow: hidden;

    }

    /* Summary Section */

    #summary-section {
    height: 70vh;
    }

    #summary {
        text-align: center;
        margin: 10% 0 0 0;
        color: #DCD7C9;
    }

    #summary-div {
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #DCD7C9;
        font-size: 110%;
    }


    #info1, #info2, #info3 {
        background-color: #A27B5C;
        width: 15%;
        height: 65%;
        padding: 20px 20px;
    }

    /* Footer Section */

    footer {
        background-color: #2C3639;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #email {
        all: unset;
        font-family: 'Gentium Book Basic', serif;
        font-size: 110%;
        color: rgba(220, 215,201,0.3);
        border: #DCD7C9 solid 2px;
        margin-bottom: 5px;
        height: 40px;
        border-radius: 5px 0 0 5px;
        background-color: rgba(0, 0, 0, 0.1);
  
    }

    #email:focus-visible {
        border-style:none;
        border: #C3070F solid 2px;
  
    }


    .newsletter-container>h3 {
        color: #DCD7C9;
    }



    .sign-up-button {
        font-family: 'Gentium Book Basic', serif;
        background-color: #A27B5C;
        color: #DCD7C9;
        margin-top: 2px;
        height: 45px;
        font-size: 130%;
        padding: 0px 20px 1px 20px;
        border-radius: 0 5px 5px 0;
    }

    .sign-up-button:hover {
        font-family: 'Gentium Book Basic', serif;
        background-color: #DCD7C9;
        color: #C3070F;
        font-size: 130%;
        padding: 0px 20px;
    }



    .footer-icons {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
        margin-top: 30%;
    }

    .footer-icons > li {
        list-style-type: none;
        margin: 1% 40%;

    }

    .footer-icons a {
        color: #DCD7C9;
    }

    i {
        font-size: 200%;
    }


/* -------------------------------------
------------Aircrafts.html--------------
--------------------------------------*/

#aircrafts-section {
    height: auto;
}
#aircrafts-section h3 {
    color:#DCD7C9;
    text-align: center;
    margin-top: 100px;
}

table {
    color: #DCD7C9;
    background-color:#A27B5C ;
    margin: 10vh auto;
}

th, td {
    border-color:#A27B5C;
    background-color: #2C3639;
    padding: 5px 10px;
}

.notes {
    width: 300px
}

/* -------------------------------------
------------Gallery.html--------------
--------------------------------------*/

.row {
    display: flex;
}
.column {
    flex-basis: 25%;
    margin-bottom: 50px;
}

.column img {
    width: 95%;
    margin: 5px 5px 5px 5px;
}

/* -------------------------------------
-------------contact.html---------------
--------------------------------------*/

#contact-section {
    height: auto;
    padding: 50px 0;
}

#contact-us-form {
    font-family: 'Gentium Book Basic', serif;
    color: #DCD7C9;
    font-size: 110%;
    width: 50%;
    height: auto;
    margin: 10% auto;
}

fieldset {
    border: #DCD7C9 solid 2px;
    border-radius: 5px 5px 5px 5px;
    padding: 30px 40px;
    font-size: 120%;
}

#fname, #lname, #form-email, #subject {
    all: unset;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 80%;
    color: #DCD7C9;
    border: #DCD7C9 solid 2px;
    width: 100%;
    height: 50px;
    font-family: 'Gentium Book Basic', serif;
    margin-bottom: 10px;
}

#message {
    all: unset;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 80%;
    color: #DCD7C9;
    border: #DCD7C9 solid 2px;
    font-family: 'Gentium Book Basic', serif;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
}

#button {
    float: right;
    font-family: 'Gentium Book Basic', serif;
    background-color: #A27B5C;
    color: #DCD7C9;
    height: 45px;
    font-size: 110%;
    padding: 0px 30px 1px 30px;
    border-radius: 5px 5px 5px 5px;
}

#button:hover {
    background-color: #DCD7C9;
    color: #C3070F;
}

#fname:focus-visible, #lname:focus-visible, #form-email:focus-visible, #subject:focus-visible, #message:focus-visible  {
    border-style:none;
    border: #C3070F solid 2px;

}


/*######################################
####//////////////\\\\\\\\\\\\\\\\\\####
## V(-___-)V Media Queries V(-___-)V ###
####\\\\\\\\\\\\(o_O)///////////////####
##################################### */

@media screen and (max-width: 1200px) {

    /* Media query 1200px - Hero Image section */

    #hero-image {
        background-image: url(../images/small_screen_bg.jpg);
        background-size: cover;
        height: 120vh;

    }

    #lancaster-section-div {
        background: none;
    }

    #title-position {
        top: 3%;
        left: 5%;
    }

    #introduction {
        color: #DCD7C9;
        font-size: 110%;
        position: relative;
        top: 30%;
        left: 5%;
        width: 28%;
        line-height: 110%;
    }

    /* Media query 1200px - Intro text section */

    #background-text-section {
        padding: 15% 10%;
        position: relative;
        height: 20vh;
    }

    .center-text {
        margin: auto;
        width: 60vw;
    }

    /* Media query 1200px  - Ingenuity Section */

    #fixed-section-div div {
        margin-top: 5%;
    }

    #ingenuity-section {
        height: 70vh;
    }

    #ingenuity-section-div {
        height: 70vh;
    }

    #fixed-section-div {
        height: 70vh;
    }

    /* Media query 1200px - Planning Section*/

    #planning-section-div {
        background-image: url(../images/plan.jpg);
        background-size: cover;
        background-attachment: fixed;
 

    }

    /* Media query 1200px - The Night of the Mission Section */

    #dropping-upkeep {
        width: 450px;
    }

    /* Media query 1200px - Footer */

    footer {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

    .footer-icons {
        margin-top: 0;
        margin-bottom: 10%;
    }

    /* Media Query 1200px - Gallery page */

   
     .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .column {
        flex-basis: 48%;
        margin-bottom: 20px;
    }

    /* Media Query 1200px - Contact us */

    #contact-us-form {
    width: 90%;
    margin: auto;
    padding: 5px;
    }

    #newsletter-checkbox {
        width: 100%;
        float: left;
     }

     #button {
  width: 100%;
  margin-top: 20px;
     }

}


@media screen and (max-width: 800px) {


    /* Media query 800px - Navigation */

    #logo {
        height: 4vh;
        padding: 30px 0 10px 10px;
        float: left;
    }

    #navigation {
        padding: 10px 10px 0 10px;
    }

    #navigation li {

        margin-right: 5px;
        top: 50%;
        font-size: 80%;
    }

    #introduction {
        top: 15%;
        width: 80%;
    }

    /* Media query 800px - Hero Image */

    #hero-image {
        background-image: url(../images/small_screen_bg.jpg);
        background-size: cover;
        background-position: top;
        height: 80vh;

    }

    h1 {
        font-size: 250%;
        line-height: 35px;
    }

    #title-position p {
        font-size: 120%;
    }

    #the {
        line-height: 25px;
    }

    #introduction {
        top: 17%;
        width: 80%;
    }

    /* Media query 800px - Background text section */

    #background-text-section {
        height: 45vh;
    }

    /* Media query 800px - The Dangers section */

    #dangers-section {
        height: 40vh;
    }

    /* Media query 800px - Ingenuity Section */

    #ingenuity-section {
        height: 75vh;
    }

    #ingenuity-section-div {
        height: 75vh;
    }

    #ingenuity-section-div div {
        width: 70vw;
        margin: 5% 10% 0 5%; 
        float: left;
        color: #DCD7C9;
        background:rgba(44, 54, 57,0.7);
        padding: 5px;
        height: auto;
    }


    /* Media query 800px - Planning Section*/

    #planning-section {
        height: 75vh;
    }

    #planning-section-div {
        background-image: url(../images/plan.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: inherit;
    }

    #planning-section-text {
        margin: auto;
        width:60%;

    }


    /* Media query 800px - The Night of the Mission */

    #mission-section {
        height: 110vh;
        width: 100%;
        position: relative;
    }

    #mission-section-div {
        width: 330px;
        margin: 16% 0 150px 2%;
        height: auto;
    }

    #mission-section-text {
        width: 90%;
        top: 63%;
        right: -11%;

    }

    #dropping-upkeep {
        width: 330px;
    }

    #mission2-section-div {
        width: 230px;
        height: 36vh;
        margin: 0 5%;
        

    }

    #mission2-section-text {
        width: 90%;
        margin: 40% 0%;
        padding: 15px;

    }

    /* Media query 800px - The Aftermath Section */

    #aftermath-section {
        height: 100vh;
        width: 100vw;
        position: relative;
        color: #DCD7C9
    }

    #aftermath-section-div {
        background-image: url(../images/destroyed.jpg);
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        background-size: contain;
        background-attachment: inherit;
    }

    #aftermath-section-text {
        bottom: 10%;
        left: 5%;
        width:80%;
        
        position: absolute;
        overflow: hidden;

    }

    /* Media Query 800px - Summary Section */

    #summary-section {
        height: 100vh;
    }
        
    #summary {
        margin: 10% 0 10px 0;
    }
        
    #summary-div {

        display: flex;
        flex-direction: column;
    }
        
        
    #info1, #info2, #info3 {
        width: 80%;
        margin-top: 5%;
        height: 65%;
        padding: 20px 20px;
    }

    /* Media Query 800px - Footer Section */

    footer {
        height: 35vh;
    }

    footer div {
        margin: auto;
    }

    .footer-icons > li {
        margin: 1% 15%;
    }

    .footer-newsletter {
        margin: 0 0 0 0;
        width: 100%;
    }

    .newsletter-container {
        display: flex;
        flex-direction: column;

    }

    .footer-newsletter h3 {
        font-size: 130%;
    }

    #email {
        width: 80%;
        border-radius: 5px;
    }

    .sign-up-button {
        font-size: 100%;
        padding: 0px 20px 1px 20px;
        width: 80%;
        border-radius: 5px;
    }

    .sign-up-button:hover {
        font-size: 100%;
        padding: 0px 20px 1px 20px;
        width: 80%;
        border-radius: 5px;
    }


/* Media query 800px - Gallery page */
  
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .column {
        flex-basis: 90%;
        margin-bottom: 20px;
     }
      

}